<ul class="create-account-card">
    <li class="create-account-card__item font-size-14">
        <svg class="create-account-card__icon" aria-hidden="true" width="30" height="30">
            <use href="#sign-in-points-and-rewards"></use>
        </svg>
        Earn Points &amp; Redeem Rewards
    </li>
    <li class="create-account-card__item font-size-14">
        <svg class="create-account-card__icon" aria-hidden="true" width="30" height="30">
            <use href="#sign-in-exclusive-offer-messages"></use>
        </svg>
        Get exclusive email &amp; text offers
    </li>
    <li class="create-account-card__item font-size-14">
        <svg class="create-account-card__icon" aria-hidden="true" width="30" height="30">
            <use href="#sign-in-express-checkout"></use>
        </svg>
        Express Checkout &amp; track your orders
    </li>
    <li class="create-account-card__item font-size-14">
        <svg class="create-account-card__icon" aria-hidden="true" width="30" height="30">
            <use href="#sign-in-manage-garage"></use>
        </svg>
        Save &amp; manage your garage
    </li>
</ul>
