<div class="modal-inner_container">
    <div class="modal-inner_wrap">
        <img class="orewards-logo_modal-small" src="/img/orewards-logo.png" alt="O'Rewards Logo"/>
        <h4 class="rewards-found_header js-rewards-found">Your O'Rewards Account has been found</h4>
        <h4 class="rewards-found_header js-rewards-welcome" style="display: none">Welcome to O'Rewards!</h4>
        <p class="rewards-found_text js-rewards-complete-verify" style="display: none">
            To complete your account set up, we have sent a verification email to you. Please check your email and click on the link included. Verification links expire in 48 hours.
        </p>
        <p class="rewards-found_text js-rewards-finish-create" style="display: none">
            You can now finish creating your account.
        </p>
        <p class="rewards-found_text rewards-email-change js-rewards-email-change" style="display: none">
            <strong>To keep all of your account notifications in one place, your O'Rewards emails will now go to the email address in your O'Reilly Auto Parts account.</strong>
        </p>
    </div>
</div>
