<th:block th:fragment="ajax">
    <th:block th:if="${availFacet}">
        <div class="plp-refine js-facet_container">
            <h3 class="plp-refine-heading1 js-facet_mobile" th:inline="text">
                [[${availFacet.facetName}]]
                <svg class="facet_arrow" width="13" height="13">
                    <use href="#shape-down-arrow"></use>
                </svg>
            </h3>
            <div class="plp-refine_wrapper">
                <ul th:class="${availFacet.facetValues.size() gt 8} ? 'plp-refine_list js-expand-list' : 'plp-refine_list'"
                    th:include="/catalog/partials/filters/list-facet-values" th:classappend="js-facet_list"
                    th:object="${availFacet}" th:attr="aria-label='Filter by ' + ${availFacet.facetName}"></ul>
                <button th:if="${availFacet.facetValues.size() gt 8}"
                    class="js-expand-list-toggle toggle-expand is-see-more" aria-expanded="false" th:inline="text">
                    <span th:attr="aria-label=#{category.related.more}" class="text-more">
                        [[#{category.related.more}]]
                        <svg width="9" height="6">
                            <use href="#shape-down-arrow" />
                        </svg>
                    </span>
                    <span th:attr="aria-label=#{category.related.less}" class="text-less">
                        [[#{category.related.less}]]
                        <svg width="9" height="6">
                            <use href="#shape-up-arrow" />
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </th:block>
</th:block>