<div class="invoice-detail-wrap">
	<h1 class="invoice-detail_head">Invoice Details</h1>
	<div class="row">
		<div class="invoice_header hidden-xs">
			<div class="col-sm-2"><strong>Line</strong></div>
			<div class="col-sm-2"><strong>Item</strong></div>
			<div class="col-sm-2"><strong>Desc</strong></div>
			<div class="col-sm-2"><strong>QTY</strong></div>
			<div class="col-sm-2"><strong>Price</strong></div>
			<div class="col-sm-2"><strong>Tax</strong></div>
		</div>
	</div>
	<div class="invoice_header_div"></div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="js-initial">
			<div class="col-xs-12 col-sm-2">
				<span class="invoice_header_mobile"><strong>Line: </strong></span>
				<span class="js-id js-id-line"></span>
			</div>
			<div class="col-xs-12 col-sm-2">
				<span class="invoice_header_mobile"><strong>Item: </strong></span>
				<span class="js-id js-id js-id-item"></span>
			</div>
			<div class="col-xs-12 col-sm-2">
				<span class="invoice_header_mobile"><strong>Desc: </strong></span>
				<span class="js-id js-id js-id-desc"></span>
			</div>
			<div class="col-xs-12 col-sm-2">
				<span class="invoice_header_mobile"><strong>QTY: </strong></span>
				<span class="js-id js-id js-id-qty"></span>
			</div>
			<div class="col-xs-12 col-sm-2">
				<span class="invoice_header_mobile"><strong>Price: </strong></span>
				<span class="js-id js-id js-id-price"></span>
			</div>
			<div class="col-xs-12 col-sm-2">
				<span class="invoice_header_mobile"><strong>Tax: </strong></span>
				<span class="js-id js-id js-id-tax"></span>
			</div>
			<div class="gap_wrap">
				<div class="gap"></div>
			</div>
		</div>
		<div class="js-additional"></div>
	</div>
</div>
