<!-- Google Schema Mark-up -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "O’Reilly Auto Parts",
        "url": "https://www.oreillyauto.com/",
        "logo": "https://corporate.oreillyauto.com/onlineapplication/images/logo.png?version=1",
        "description": "Better Parts, better prices, everyday on auto parts and accessories. Find a store near you, view our current ad, see current promotions, and more.",
        "foundingDate": "1957",
        "foundingLocation": "Springfield, MO",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "233 South Patterson Avenue",
            "addressLocality": "Springfield",
            "addressRegion": "MO",
            "postalCode": "65802-2298",
            "addressCountry": "US"
        },
        "contactPoint": {
            "@type": "contactPoint",
            "telephone": "+1-888-327-7153",
            "contactOption": "TollFree",
            "contactType": "Customer Service",
            "availableLanguage": ["English", "Spanish"],
            "areaServed": "US"
        },
        "sameAs": [
            "https://www.facebook.com/oreillyautoparts/",
            "https://twitter.com/OReillyAuto",
            "https://www.youtube.com/user/OReillyAutoParts",
            "https://www.instagram.com/oreillyautoparts/"
        ]
    }
</script>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Website",
        "name": "O’Reilly Auto Parts",
        "url": "https://www.oreillyauto.com/",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.oreillyauto.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
</script>
<!-- end:Google Schema Mark-up -->
