<fragment th:remove="tag" th:fragment="ajax">
    <div class="modal-inner_container">
        <div class="modal-inner_wrap">
            <img class="orewards-logo_modal-small" src="/img/orewards-logo.png" alt="O'Rewards Logo"/>
            <h1 class="rewards-error_header js-rewards-link-error" style="display: none">
                Unable to link your O'Rewards account
            </h1>
            <h1 class="rewards-error_header js-rewards-create-error" style="display: none">
                Unable to create your O'Rewards account
            </h1>
            <p class="rewards-error_text js-rewards-link-error" style="display: none">
                The O'Rewards service is currently unavailable. Please try linking your account later.
            </p>
            <p class="rewards-found_text js-rewards-create-error" style="display: none">
                The O'Rewards service is currently unavailable. Please try creating your account later.
            </p>
        </div>
    </div>
</fragment>
