<th:block>
    <div class="interchange-banner__text">
        <h3 class="interchange-banner__heading" th:text="#{product.interchange.header}">
            Don't see the part you searched for?
        </h3>
        <p th:text="#{product.interchange.text}">
            Search your part number using our part interchange &amp; find interchangeable parts for
            your application.
        </p>
    </div>
    <button class="button button--white interchange-banner__button js-interchange">
        Part Interchange Search
    </button>
    <interchange-modal></interchange-modal>
</th:block>
