<th:block layout:decorator="layout/account-layout" layout:fragment="content">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 manage-account-form-wrapper">
        <p class="success" th:if="${successMessage}" th:text="#{successMessage}"></p>
        <h2 th:text="#{password.change}">Change Your Password</h2>
        <p class="password-change_info">
            O'Reilly Auto Parts wants to improve the security of our website to protect your
            personal data. We apologize for the inconvenience, but this will require you to reset
            your password. Reset your password and login to continue to access your account.
        </p>
        <blc:form
            class="manage-account js-new-pw-form"
            action="#"
            th:action="@{/account/password}"
            th:object="${changePasswordForm}"
            method="POST"
        >
            <div class="form-group">
                <div>
                    <label for="currentPassword" th:text="#{password.current}">
                        Current Password
                    </label>
                    <input
                        type="password"
                        name="currentPassword"
                        id="currentPassword"
                        th:field="*{currentPassword}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('currentPassword')}? 'fieldError'"
                    />
                    <span
                        class="error"
                        th:if="${#fields.hasErrors('currentPassword')}"
                        th:errors="*{currentPassword}"
                        role="alert"
                    ></span>
                </div>
            </div>
            <div class="form-group">
                <div class="pw__wrap">
                    <label for="newPassword" th:text="#{password.new}">New Password</label>
                    <input
                        type="password"
                        name="newPassword"
                        id="newPassword"
                        th:field="*{newPassword}"
                        class="form-control js-reg-pw"
                        th:classappend="${#fields.hasErrors('newPassword')}? 'fieldError'"
                    />
                    <span
                        class="error"
                        th:if="${#fields.hasErrors('newPassword')}"
                        th:errors="*{newPassword}"
                        role="alert"
                    ></span>
                    <div id="change-password-requirements"></div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="newPasswordConfirm" th:text="#{password.confirm}">
                        Confirm New Password
                    </label>
                    <input
                        type="password"
                        name="newPasswordConfirm"
                        id="newPasswordConfirm"
                        th:field="*{newPasswordConfirm}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('newPasswordConfirm')}? 'fieldError'"
                    />
                </div>
            </div>
            <button type="submit" class="btn-green-lg btn--lg">Change Password</button>
        </blc:form>
    </div>
</th:block>
